.remove, .remove_rep{
    width: 30px;
    height: 30px;
    font-size: 20px;
    background: tomato;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 0;
    margin: 0;
}

#addRows{

    font-size: 16px;
    background-color: lightseagreen;
    color: white;
    margin-bottom: 2rem;

    /*border: none;*/
    /*margin: 20px;*/
}

.tabule{
    margin-top: 2px;
    background: #c3c3c3;
}

button.hover{
    cursor: pointer;
}
tr:hover{
    cursor: move;
}
